




<div class="container">

<div class="row">

       <div class="span9">
           <div class="row">
         <div class="span6 pull-right">
         	<h2><%= farm.name %></h2>
  <span class="content"><%=  "   Is it Organic  ::  " %><%= farm.organic ? 'Yes' : 'No'  %></span>
  <span class="content"><%=  "   Can it be delivered  ::  " %><%= farm.deliver ? 'No' : 'Yes' %></span><span class="timestamp">Listed on <%= farm.created_at.strftime("%d %b. %Y") %> </span>
</div>

          <div class="span3"><%= image_tag farm.farmpic.url(:medium) %></div>
           </div><!-- end nested row -->
    </div><!-- end span9 -->

        <div class="span3">
<div class="btn-group btn-group-vertical">

<%= link_to 'View Farm', farm, class: "btn btn-small btn-secondary" %> 
<% if current_user?(farm.user) %>
  <%= link_to "delete", farm, class: "btn btn-small btn-secondary", method: :delete, confirm: "You sure?" %><% end %>




</div>



        </div>

    </div><!-- end parent row-->

 </div><!-- end container -->  
 <hr>