<div class="<%= cycle("even", "odd") %>">
<div class="container">

<div class="row-fluid">
  <div class="span2">
    <%= image_tag farm.image_url %>
  </div>

  <div class="span2">
    <%= farm.name %>
  </div>

  <div class="span4">
    <span><%=  "   Location  ::  " %><%= farm.user.region %></span><br>
    <span><%=  "   Can it be delivered  ::  " %><%= farm.deliver ? 'No' : 'Yes' %></span><br>
    <span><%=  "   Is it Organic  ::  " %><%= farm.organic ? 'Yes' : 'No'  %></span><br>
    <span class="timestamp">Listed on <%= farm.created_at.strftime("%d %b. %Y") %> </span>


  </div>
  <div class="span4">
<br>
<br>
<br>

<%= link_to 'Sell A Product', farm, class: "btn btn-small btn-secondary" %> 
<%= link_to 'Edit Grow Spot', farm, class: "btn btn-small btn-secondary" %> 
  </div>



           
 </div><!-- end container -->  
</div>




<div class="row-fluid">
  <div class="span2"></div>
  <div class="span8">

<%= render @products %>




  </div>
  <div class="span2"></div>










<br>
<br>
<br>