<div class="<%= cycle("even", "odd") %>">
<div class="container"><br>

<div class="row-fluid">
  <div class="span2">
    <%= image_tag(farm.image_url, :style => "margin: 0px 0px 0px 10px") %>
  </div>


  <div class="span2">
    <h2><%= farm.name %>
  </div>

  <div class="span4">
   <br>
<br>
<br>  
  <%= link_to 'View Location Details', farm, class: "btn btn-small btn-secondary" %> 

<% if correct_user?(farm.user) %>
  <%= link_to 'Add Another Product', new_farm_product_path(farm), class: "btn btn-small btn-secondary" %>
<% else %>
  <% if farm.followed_by?(current_user)  %>
    <%= link_to "Unfollow", unfollow_farm_path(farm), class: "btn btn-small btn-secondary" %>
  <% else %>
    <%= link_to "Follow", follow_farm_path(farm), class: "btn btn-small btn-secondary" %>
  <% end %>
<% end %>


  </div>
 <div class="margin: 0px 10px 0px 0px;"> <div class="span4" style="text-align:right">

     <p>You are being followed by <%= pluralize(farm.followers_count, "Person") %> </p>
    <span><%=  "   Location  ::  " %><%= farm.user.region %></span><br>
    <span><%=  "   Can it be delivered  ::  " %><%= farm.deliver ? 'No' : 'Yes' %></span><br>
    <span><%=  "   Is it Organic  ::  " %><%= farm.organic ? 'Yes' : 'No'  %></span><br>
    <span class="timestamp">Created on <%= farm.created_at.strftime("%d %b. %Y") %> </span>

  </div>         
  </div>         
 </div><!-- end container -->  
</div>

<div class="row-fluid">
  <div class="span2"></div>
  <div class="span8">

<% for product in farm.products do %>
  <%= render :partial => "product", :locals => {  :product => product  } %>
<% end %>

  </div>
  <div class="span2"></div></div>
</div>
<br><br>

