<%= provide(:title, 'Register As A Grower...') %>



<div class="row-fluid">
<div class="span6" style="margin: 0px 10px 0px 0px;">

<%= nested_form_for @farm do |f| %>
<%= render 'shared/error_messages', object: f.object %>

   <h2>Step 1 :: Describe Your Grow...</h2><center><p>Say Somthing about where and how you grow...</p></center>

    <div class="field"><br>
    <%= f.label "Farm Name (Optional)" %><br />
    <%= f.text_field :name, :placeholder => "i.e. - 'My Garden' or 'Joe´s Farm'" %>
  </div>
  <div class="field">
    <%= f.label "Type of Farm?" %><br />
   <%= f.select :farmtype, options_for_select(["Private Grower","Farm"]) %>
  </div>
  <div class="field">
  <%= f.label 'Are You Willing To Swap For Other Fresh Produce?    ' %><br>
  <%= f.radio_button :swap, true %><%= f.label 'Yes',:style => "display:inline" %><br />
  <%= f.radio_button :swap, false %><%= f.label 'No' ,:style => "display:inline"%><br />

</div><br>
  <div class="field" style="display:inline">
  <%= f.label 'Is it Organicly Grown?    ' %><br>
  <%= f.radio_button :organic, true %><%= f.label 'Yes', :style => "display:inline"  %><br />
  <%= f.radio_button :organic, false %><%= f.label 'No', :style => "display:inline"  %><br />
</div><br>
<div style="display:inline"><div class="field", style="display:inline">
  
  <%= f.label 'Can you Deliver Locally?    ' %><br>
   <%= f.radio_button :deliver, true %><%= f.label 'Yes', :style => "display:inline"  %><br />
  <%= f.radio_button :deliver, false %><%= f.label 'No', :style => "display:inline"  %><br />
</div></div><br>

<p><input id="toggle_hidden_fields" name="toggle_hidden_fields" type="checkbox" class="toggle_hidden_fields">
Click here if you are growing at a different location.</p>

<div class="hidden_fields">
 <div class="field">
    <%= f.label :street_name %><br />
    <%= f.text_field :street_name, :value => current_user.street_name %>
  </div>
   <div class="field">
    <%= f.label :bldg_name %><br />
    <%= f.text_field :bldg_name, :value => current_user.bldg_name %>
  </div>
   <div class="field">
    <%= f.label :region %><br />
    <%= f.select :region, options_for_select(%w[Alameda
Alcaucín 
Alfarnate 
Alfarnatejo 
Algarrobo 
Algatocín 
Alhaurín_de_la_Torre 
Alhaurín-el-Grande 
Almáchar 
Almargen 
Almogía 
Álora 
Alozaina 
Alpandeire 
Antequera 
Árchez 
Archidona 
Ardales 
Arenas 
Arriate 
Atajate 
Benadalid 
Benahavís 
Benalauría 
Benalmádena 
Benamargosa 
Benamocarra 
Benaoján 
Benarrabá 
El-Borge 
El-Burgo 
Campillos 
Canillas-de-Aceituno 
Canillas-de-Albaida 
Cañete-la-Real 
Carratraca 
Cartajima 
Cártama 
Casabermeja 
Casarabonela 
Casares 
Coín 
Colmenar-(Málaga) 
Comares 
Cómpeta 
Cortes-de-la-Frontera 
Cuevas-Bajas 
Cuevas-de-San-Marcos 
Cuevas-del-Becerro 
Cútar 
Estepona 
Faraján 
Frigiliana 
Fuengirola 
Fuente-de-Piedra 
Gaucín 
Genalguacil 
Guaro 
Humilladero 
Igualeja 
Istán 
Iznate 
Jimera-de-Líbar 
Jubrique 
Júzcar 
Macharaviaya 
Málaga 
Manilva 
Marbella 
Mijas 
Moclinejo 
Mollina 
Monda 
Montejaque 
Nerja 
Ojén 
Parauta 
Periana 
Pizarra 
Pujerra 
Rincón-de-la-Victoria 
Riogordo 
Ronda 
Salares 
Sayalonga 
Sedella 
Sierra-de-Yeguas 
Teba 
Tolox 
Torremolinos 
Torrox 
Totalán 
Valle-de-Abdalajís 
Vélez-Málaga 
Villanueva-de-Algaidas 
Villanueva-de-Tapia 
Villanueva-del-Rosario 
Villanueva-del-Trabuco 
Viñuela 
Yunquera ] ), :value => current_user.region %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br />
    <%= f.number_field :post_code, :value => current_user.post_code %>
  </div>
  <div class="field">
    <%= f.label :province %><br />
   <%= f.select :province, options_for_select(%w[Malaga,España]) %>
  </div>
  


</div>
<br>
<div class="field", style="display:inline">
    <%= f.label 'Say Somthing About Your Growing...' %><br />
    <%= f.text_area :description, :size => "30x10" , :placeholder => "Say somthing about how you grow....(Optional)"%>
  </div>
 <%= f.label 'Attach a picture of where you grow...' %>
<%= f.file_field :image %>


  </div>


<%= f.simple_fields_for(:products) do |ff| %>

<div class="span6" style="margin: 0px 0px 0px 10px;">
<h2>Step 2 :: List A Product...</h2><center><p>Add your first product here to begin Selling, Swapping and Sharing your Produce...</p></center><br><br>

<div class="field">
    <%= ff.label 'Produce' %><br />
    <%= ff.text_field :name, :placeholder => "i.e. - 'Apples' or 'Red Rose Cuttings'" %>
  </div>
 
  <div class="field">
    <%= f.label  'How much do you have to sell?' %><br />
    <%= ff.number_field :ammount, :placeholder => "" %>
  </div>
  <div class="field">
    <%= ff.label :price, 'Price per Kilo or Unit?' %><br />
    <%= ff.number_field :price %>
  </div>

  <div class="field">
    <%= ff.label :category %><br />
   <%= ff.select :category, options_for_select(%w[ 
   Vegatables
   Fruit
   Herbs
   Edible-Flowers
   Seeds
   Seeds
   Cuttings
   Plantita´s
   Other ] )%>
  </div>

  <div class="field">
    <%= ff.label 'Describe Your Produce' %><br />
    <%= ff.text_area :description, :size => "30x10", :placeholder => "Describe what you have grown..."  %>
  </div>
<div class="field" style="display:inline">
      <%= ff.label 'Available from (Leave Blank if already in season)' %><br />
      <%= ff.date_select :avail_from, {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, {:class => 'date-select'}  %>
</div>
<div class="field" style="display:inline">
      <%= ff.label 'Available Untill' %><br />
      <%= ff.date_select :avail_until, {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, {:class => 'date-select'}  %>
</div><br>
<div class="field"><br><br>
<%= ff.label 'Attach a picture of your produce...' %>
<%= ff.file_field :image  %>
<br><br><br><br>
  </div>


</div>
</div>
  

<% end %>
</div>
<div class="row-fluid">
<div class="span12" ><center><%= f.submit "List Produce", class: "btn btn-large btn-primary" %></div>
</div>
<% end %>
