<%= provide(:title, 'Register As A Grower...') %>



<div class="row-fluid">
<div class="span6" style="margin: 0px 10px 0px 0px;">

<%= nested_form_for @farm do |f| %>
<%= render 'shared/error_messages', object: f.object %>

   <h2>Step 1 :: Describe Your Grow...</h2><br><p>Say Somthing about where you grow and how...</p>

    <div class="field"><br><br>
    <%= f.label "Farm Name (Optional)" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Type of Farm?" %><br />
   <%= f.select :farmtype, options_for_select(["Private Grower","Farm"]) %>
  </div>
  <div class="field">
  <%= f.label 'Are You Willing To Swap For Other Fresh Produce?    ' %><br>
  <%= f.radio_button :swap, true %><%= f.label 'Yes',:style => "display:inline" %><br />
  <%= f.radio_button :swap, false %><%= f.label 'No' ,:style => "display:inline"%><br />

</div><br>
  <div class="field" style="display:inline">
  <%= f.label 'Is it Organicly Grown?    ' %><br>
  <%= f.radio_button :organic, true %><%= f.label 'Yes', :style => "display:inline"  %><br />
  <%= f.radio_button :organic, false %><%= f.label 'No', :style => "display:inline"  %><br />
</div><br>
<div style="display:inline"><div class="field", style="display:inline">
  
  <%= f.label 'Can you Deliver Locally?    ' %><br>
   <%= f.radio_button :deliver, true %><%= f.label 'Yes', :style => "display:inline"  %><br />
  <%= f.radio_button :deliver, false %><%= f.label 'No', :style => "display:inline"  %><br />
</div></div><br>
<div class="field", style="display:inline">
    <%= f.label 'Say Somthing About Your Grow Spot...' %><br />
    <%= f.text_area :description, :size => "30x10" %>
  </div>
  <div class="field">
    <%= f.label 'Attach a picture of your Grow Spot (Optional)' %>
  </div>
  </div>


<%= f.simple_fields_for(:products) do |ff| %>

<div class="span6" style="margin: 0px 0px 0px 10px;">
<h2>Step 2 :: List A Product...</h2>

<div class="field">
    <%= ff.label :name %><br />
    <%= ff.text_field :name %>
  </div>
 
  <div class="field">
    <%= f.label  'How much do you have to sell?' %><br />
    <%= ff.number_field :ammount %>
  </div>
  <div class="field">
    <%= ff.label :price, 'Price per Kilo?' %><br />
    <%= ff.number_field :price %>
  </div>

  <div class="field">
    <%= ff.label :category %><br />
   <%= ff.select :category, options_for_select(%w[ 
   Vegatables
   Fruit
   Herbs
   Edible-Flowers
   Seeds
   Seeds
   Cuttings
   Plantita´s
   Other ] )%>
  </div>

  <div class="field">
    <%= ff.label :description %><br />
    <%= ff.text_field :description %>
  </div>
<div class="field">
<%= ff.label 'Attach a picture...' %>
<%= ff.file_field :image %>
<br><br><br><br><center><%= f.submit "Create Farm", class: "btn btn-large btn-primary" %>
  </div>


</div>
</div>
  

<% end %>
<%= f.label 'Attach a picture...' %>
<%= f.file_field :image %>


</div>

<% end %>
