<br><br>
<div class="span7">


<p>
  <%= image_tag @farm.farmpic.url(:medium) %>
  <%= @farm.description %>
</p>
</div>
<div class="span3">
	
<p> 
  <b>Name:</b>
  <%= @farm.name %>
</p>
<p>
  <b>User:</b>
  <%= @farm.user_id %>
</p>
</div>
<div class="span1">
	
	<% if signed_in? %><div class="btn-group btn-group-vertical">
<% if current_user?(@farm.user) %>
<%= link_to 'Edit', edit_farm_path(@farm), class: "btn btn-small btn-secondary" %> 

<%= link_to 'Sell Product', new_farm_product_path(@farm), class: "btn btn-small btn-secondary" %> 


<%= link_to 'Back', farms_path, class: "btn btn-small btn-secondary"  %>
<% else %>
<%= link_to 'Contact Farmer', edit_farm_path(@farm), class: "btn btn-small btn-secondary" %> 
<% end %>
</div><% end %>


  




</div></div><br><br><br><br><br>
<hr size=10>
<h2>Our products</h2>
<ul class="users">
<%= render @farm.products %>
</ul>
