<br><br><div class="">
<h1><%= @farm.name %></h1>
<center><p>Being followed by <%= @farm.followers_count %> people</p>

<% if signed_in? %>





</center><br><br><br>
<div class="content">
<div class="span3">


<p>
  <%= image_tag @farm.farmpic.url(:medium) %>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=650x400&sensor=false&zoom=10&markers=#{@farm.latitude}%2C#{@farm.longitude}" %> 
</p>
</div>
<div class="span6">
	<h2>About Us...</h2><%= @farm.description %>
<p> 

  
</p>
<p>

</p>
</div>
<div class="span1">
	
	<div class="btn-group btn-group-vertical">
<% if current_user?(@farm.user) %>
<%= link_to 'Edit Farm Details', edit_farm_path(@farm), class: "btn btn-small btn-secondary" %> 

<%= link_to 'Sell Product', new_farm_product_path(@farm), class: "btn btn-small btn-secondary" %> 


<%= link_to 'Back to my Profile', current_user, class: "btn btn-small btn-secondary"  %>
<% else %>
<% if @farm.followed_by?(current_user)  %>

<%= link_to "Unfollow", unfollow_farm_path(@user), class: "btn btn-small btn-secondary" %>
<% else %>
<%= link_to "Follow", follow_farm_path(@user), class: "btn btn-small btn-secondary" %>
<% end %>
<%= link_to 'Contact Farmer', new_mailboxes_path(:user_id => @farm.user.id), class: "btn btn-small btn-secondary" %> 
<% end %>



  </div></div>




</div></div><br><br><br><br><br>
<hr>
<div class='span12'>
<% if @farm.products.any? %>
<center><h3>Our products(<%= @farm.products.count %>)</h3>
<%= link_to 'Add Another Product', new_farm_product_path(@farm), class: "btn btn-small btn-secondary" %> </center>
   <hr>
   <ul class="users">
<%= render @farm.products %>
</ul>

<% else %><CENTER>
<h5>To begin selling your own produce, list it here!</h5>
<%= link_to 'Sell Product', new_farm_product_path(@farm), class: "btn btn-small btn-secondary" %> 
<% end %></CENTER>

  </div>
  
 <% end %>
