<% if signed_in? %>

<div class="row-fluid">
<div class="span12" style="background-color:#669900">
<div class="pull-left" style="margin: 0px 20px 0px 0px;">
<%= image_tag current_user.avatar_url(:thumb).to_s %>

  </div>
<div class="pull-left">
  <h4>Welcome to La Red Verde</h4>
  <p>You are following <%= current_user.follow_count %> Farms. </p>
  <p>You have <%= current_user.unread_message_count %> New Messages</p>
</div>

  </div>
  </div>

  <div class="row-fluid">
    <div class="span9">
      <div class="row-fluid">
        <div class="span6"><h2>Latest Listings<hr></h2>
<%= render :partial => "product", :collection => @products.sort_by(&:created_at).reverse, :as => :product %>


        </div>
        <div class="span6"><h2>From my favourite growers...<hr></h2>
<% if current_user.follow_count == 0  %>

<center> <p>You are not currently following any growers. As you are browsing produce, if you find a grower with lots of things you like, they click follow on there profile page to see all there latest listings.</p><br>
<%= link_to "View Product Listings", products_path, class: "btn btn-success"  %>
<% else %>

<%= render :partial => "product", :collection => @productsfolling.sort_by(&:created_at).reverse,  :as => :product %>

</center>
<% end %>



        </div>
        
        </div>






    </div>
    <div class="span3" , style="background-color:#669900">


<center><div class="btn-group btn-group-vertical">
<% if current_user.farms.any? %>
<% else %>
<%= link_to "Register as a grower", new_farm_path, class: "btn btn-small btn-secondary"  %>
<% end %>

<br>
<%= link_to "Viewv Product Listings", products_path, class: "btn btn-small btn-secondary"  %>
<%= link_to "View All Growers", farms_path, class: "btn btn-small btn-secondary"  %>
<br>
<%= link_to "View My Profile", current_user, class: "btn btn-small btn-secondary"  %>
<%= link_to "View My Messages", user_messages_path(current_user), class: "btn btn-small btn-secondary"  %>
<br>
<%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "btn btn-small btn-secondary"  %><br><br><br>






    </div>
    </div>
    </div>

<div class="span12" style="background-color:#669900">
</div>

  













<!-- If user is not signed in...render this -->
<% else %>

  <div class="center hero-unit" >
    <h2>Welcome To El Red Verde</h2>

    <p>
      Your online market place connecting small farmers to people who care about Fresh Local Produce!
    </p>

    <%= link_to "Sign up now!", new_user_registration_path,
                                class: "btn btn-large btn-primary" %>
    <%= link_to "Sign in", user_session_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  
<% end %>

</div>



