<%= provide(:title, 'Register...') %>
<h1>Sign Up Now...</h1>

<div class="span4"><br><br><br><br>
<br>   
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

   <div class="field">
    <%= f.label :street_name %><br />
    <%= f.text_field :street_name %>
  </div>
   <div class="field">
    <%= f.label :bldg_name %><br />
    <%= f.text_field :bldg_name %>
  </div>
   <div class="field">
    <%= f.label :region %><br />
    <%= f.select :region, options_for_select(%w[Alameda
Alcaucín 
Alfarnate 
Alfarnatejo 
Algarrobo 
Algatocín 
Alhaurín_de_la_Torre 
Alhaurín-el-Grande 
Almáchar 
Almargen 
Almogía 
Álora 
Alozaina 
Alpandeire 
Antequera 
Árchez 
Archidona 
Ardales 
Arenas 
Arriate 
Atajate 
Benadalid 
Benahavís 
Benalauría 
Benalmádena 
Benamargosa 
Benamocarra 
Benaoján 
Benarrabá 
El-Borge 
El-Burgo 
Campillos 
Canillas-de-Aceituno 
Canillas-de-Albaida 
Cañete-la-Real 
Carratraca 
Cartajima 
Cártama 
Casabermeja 
Casarabonela 
Casares 
Coín 
Colmenar-(Málaga) 
Comares 
Cómpeta 
Cortes-de-la-Frontera 
Cuevas-Bajas 
Cuevas-de-San-Marcos 
Cuevas-del-Becerro 
Cútar 
Estepona 
Faraján 
Frigiliana 
Fuengirola 
Fuente-de-Piedra 
Gaucín 
Genalguacil 
Guaro 
Humilladero 
Igualeja 
Istán 
Iznate 
Jimera-de-Líbar 
Jubrique 
Júzcar 
Macharaviaya 
Málaga 
Manilva 
Marbella 
Mijas 
Moclinejo 
Mollina 
Monda 
Montejaque 
Nerja 
Ojén 
Parauta 
Periana 
Pizarra 
Pujerra 
Rincón-de-la-Victoria 
Riogordo 
Ronda 
Salares 
Sayalonga 
Sedella 
Sierra-de-Yeguas 
Teba 
Tolox 
Torremolinos 
Torrox 
Totalán 
Valle-de-Abdalajís 
Vélez-Málaga 
Villanueva-de-Algaidas 
Villanueva-de-Tapia 
Villanueva-del-Rosario 
Villanueva-del-Trabuco 
Viñuela 
Yunquera ] ) %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br />
    <%= f.number_field :post_code %>
  </div>
  <div class="field">
    <%= f.label :province %><br />
   <%= f.select :province, options_for_select(%w[Malaga,España]) %>
  </div>
  
  
  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.number_field :contact_number %>
  </div>
<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Password Confirmation" %>
<%= f.password_field :password_confirmation %>


  </section>
  </aside>
  



</div>
<span class="span6"><br><br>
    <div class="field"><br><br>
    <%= f.label "Your Name" %><br />
    <%= f.text_field :name %>
  </div>
  
  <br>
  
<div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "30x10" %>
  </div>
  <div class="field">
    <%= f.label 'Attach a profile picture for your account' %>
<%= f.file_field :avatar %>
<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>


  </div>
</span>
<% end %>
