
<% provide(:title, @user.name) %>
<br><br>
  <div class="span3">
    <section>
      <%= image_tag current_user.avatar.url %><br><br>


    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=10&markers=#{@user.latitude}%2C#{@user.longitude}" %> 
      <h1>
       
  
      </h1>
    </section>
  

   
   

  </div> 
  <div class="span6">

<h1>
<%= @user.name %></h1>

     
   <center><h2>Location</h2><p> <%= @user.region %></p><br>
   <center> <h2>Contact</h2><p> <%= @user.email %></p><br></center>
  <% if @user.description.blank? %><% else %>
   <center><h2>About Us</h2><p> <%= @user.description %></p><br>
<% end %>
  
  <hr>
   </div> 
 <div class="span1">
<% if signed_in? %>
<% if current_user?(@farm) %>

  <div class="btn-group btn-group-vertical">
<%= link_to "View", show_farm_path, class: "btn btn-small btn-secondary"  %>

<% else %>
<%= link_to "Add Farm", new_farm_path, class: "btn btn-small btn-secondary"  %>
<% end %></div>
<% end %>




 
 </div>  
 </div>



 
   <h2>My Farms</h2>
  <ul class="users">
<%= render @user.farms %>
</ul>

  