
<div class="container">
<div class="row-fluid">
<div class="span12">
<div class="span3">
</div>

<div class="span6">
<h1><%= @user.name %>'s Profile<hr></h1></div>
<div class="span3">

<div class="timestamp"><br>
	Member since <%= @user.confirmed_at.strftime("%d %b. %Y") %><br>
	Last online <%= @user.last_sign_in_at.strftime("%d %b. %Y") %>
</div>
</div>
</div>


<div class="span12">
<div class="row-fluid">
<div class="span3" style="background-color:#669900">


<% if correct_user?(@user) %>

<center><div class="btn-group btn-group-vertical">

<% if @user.farms.any? %><br>
<br>

<%= link_to "Add A Product", '#', class: "btn btn-small btn-secondary"  %>
<% else %>
<%= link_to "Register as a Grower", new_farm_path, class: "btn btn-small btn-secondary"  %>
  <% end %> 

<br>
<%= link_to "View All Product Listings", products_path, class: "btn btn-small btn-secondary"  %>
<%= link_to "View All Users", '#', class: "btn btn-small btn-secondary"  %>
<br>
<%= link_to "Got to My Home Page", root_path, class: "btn btn-small btn-secondary"  %>
<%= link_to "Edit My Profile", edit_user_registration_path, class: "btn btn-small btn-secondary"  %>
<br>
<%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "btn btn-small btn-secondary"  %>
</div></center><br>
<br>
<% else %>

<center><div class="btn-group btn-group-vertical"><br><br>


<%= link_to "Message #{@user.name}", {:controller => 'messages', :action => "new", :replyto => @user.id, :user_id => current_user},class: "btn btn-small btn-secondary"  %><br>
<%= link_to "Back To My Profile", current_user, class: "btn btn-small btn-secondary"  %><br><br>

</div></center><% end %>

</div>



<div class="span6">



<center><h2>Location</h2><p> <%= @user.region %></p><br>
  
  <% if @user.description.blank? %><% else %>
   <center><h2>About Me</h2><p> <%= @user.description %></p><br>
<% end %>
</div>
<div class="span3">
<center><%= image_tag @user.avatar_url.to_s %></center> 
<hr>

    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=650x400&sensor=false&zoom=10&markers=#{@user.latitude}%2C#{@user.longitude}" %></div>




</div>
</div>


<div class="row-fluid">
<div class="span12">
<hr>
 <% if @user.farms.any? %>
<h4>Where I Grow...(<%= @user.farms.count %>)</h4></center>

   
<%= render @farms %></div>
<hr>
<%= link_to "Add Another Location", new_farm_path, class: "btn btn-large btn-secondary"  %>
<% else %>
<div class="span6"><% if correct_user?(@user) %>
<center> <h5>To begin selling and swapping your own Produce, List your products Now!</h5><br></center>
<center><%= link_to "I am a Grower!", new_farm_path, class: "btn btn-large btn-secondary"  %>


</div>  
<div class="span6">
<center><h5>If your not a grower yet, and just want to see whats being grown near you, Check out the Produce Listings!</h5></center><br>
<center><%= link_to "Search Produce", products_path, class: "btn btn-large btn-secondary"  %>

</div>  
</div>  
</div>  


<% end %>
<% end %>





