
<% provide(:title, @user.name) %>

      
<div class="container">

<div class="row"><br>
  <h1>
<%= @user.name %>'s Profile</h1><hr>

       <div class="span9">
           <div class="row">
         <div class="span6 pull-right">
<center><h2>Location</h2><p> <%= @user.region %></p><br>
   <center> <h2>Contact</h2><p> <%= @user.email %></p><br></center>
  <% if @user.description.blank? %><% else %>
   <center><h2>About Us</h2><p> <%= @user.description %></p><br>
<% end %>
         </div>

          <div class="span3">
<% if signed_in? %>

<center><div class="btn-group btn-group-vertical">
  <%= link_to "View Latest Product Listings", products_path, class: "btn btn-small btn-secondary"  %>
<%= link_to "View All Farms", farms_path, class: "btn btn-small btn-secondary"  %>
<%= link_to "Share a Plant", new_swap_path, class: "btn btn-small btn-secondary"  %></div></center><% end %>
          </div>
           </div><!-- end nested row -->
    </div><!-- end span9 -->

        <div class="span3">
<%= image_tag current_user.avatar.url(:medium) %><br><br>


    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=650x400&sensor=false&zoom=10&markers=#{@user.latitude}%2C#{@user.longitude}" %> 
        </div>

    </div><!-- end parent row-->

 </div><!-- end container -->  



<hr>
<div class="span6 pull-left">
<% if @user.swaps.any? %>
   
 
  
    <center><h4>My Swaps(<%= @user.swaps.count %>)</h4>
<%= link_to "Share Another Plant", new_swap_path, class: "btn btn-small btn-secondary"  %>

    </center><hr>

<%= render 'swap_grid' %>
</ul>


<% else %>

<h5>To share and swap your favourite plants, click here!</h5>

<%= link_to "Share a Plant", new_swap_path, class: "btn btn-small btn-secondary"  %>
<% end %>
</div>

<div class="span5">
 

 <% if @user.farms.any? %>
   <center><h4>My Farms(<%= @user.farms.count %>)</h4>
<%= link_to "Register Another Farm", new_farm_path, class: "btn btn-small btn-secondary"  %>
</center>
   <hr>
<%= render 'farm_grid' %>
<% else %>
<h5>To begin selling your own produce, even from your garden or allotment, please register a farm!</h5>
<%= link_to "Register a Farm", new_farm_path, class: "btn btn-small btn-secondary"  %>

<% end %>
</div>  
</div>  




  
  