
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section><center>
      <%= image_tag current_user.avatar.url %><br><br>


    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=10&markers=#{@user.latitude}%2C#{@user.longitude}" %> 
      <h1>
       
  
      </h1>
    </section>
    <section>
      
    </section>
    <% unless @user.description.blank? %><div>
  <center>
   <h2>About Us</h2><p> <%= @user.description %></p><br></div><% end %>
   

  </aside>
  <div class="span6">

<h1>
<%= @user.name %></h1>

     
  <center> <h2>Location</h2><p> <%= @user.region %></p><br>
   <center> <h2>Contact</h2><p> <%= @user.email %></p><br></center>
  <center>
  </div>  </div>
  <hr>
 
 <aside class="span4">
  <aside class="span6">
    <hr> <h1>My Farms</h1>
  <ul class="users">
<%= render @user.farms %>
</ul>
</aside>
  