<div class="container">

<div class="row-fluid">
  <div class="span12">
<div class="span6"> 
    <%= image_tag @farm.image_url %>
<br>
  <%= @farm.name %>
  <%= @farm.region %>


</div>
<div class="span6">
<%= form_for [@farm, Product.new]  do |ff| %>

 <div class="span6" style="margin: 0px 0px 0px 10px;">
<h2>List A Product...</h2>

<div class="field">
    <%= ff.label :name %><br />
    <%= ff.text_field :name %>
  </div>
 
  <div class="field">
    <%= ff.label  'How much do you have to sell?' %><br />
    <%= ff.number_field :ammount %>
  </div>
  <div class="field">
    <%= ff.label :price, 'Price per Kilo?' %><br />
    <%= ff.number_field :price %>
  </div>

  <div class="field">
    <%= ff.label :category %><br />
   <%= ff.select :category, options_for_select(%w[ 
   Vegatables
   Fruit
   Herbs
   Edible-Flowers
   Seeds
   Seeds
   Cuttings
   Plantita´s
   Other ] )%>
  </div>

  <div class="field">
    <%= ff.label :description %><br />
    <%= ff.text_field :description %>
  </div>
<div class="field">
<%= ff.label 'Attach a picture...' %>
<%= ff.file_field :image %>
<br><br><br><br><center><%= ff.submit "Create Farm", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
  </div>
  </div>
  </div>
