
<br><h1>Produce</h1><hr> 

   

<div class='search'>
<h3>Search</h3>
= render partial:  'grid'


.row-fluid
  .span2
    Product Name:
  .span10
    = grid_filter @products_grid, :name_filter

.row-fluid
  .span2
    Product Category:
  .span10
    = grid_filter @products_grid, :category_filter


.row-fluid
  .span2
    Willing to trade?:
  .span10
    = grid_filter @products_grid, :swap_filter





.row-fluid
  .span12
    .external-buttons
      %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'} Submit
      %button.btn.wg-external-reset-button{'data-grid-name' => 'grid'} Reset
<br></div><br><br>
.row-fluid
  .span12

    = render_grid(@products_grid)



