<div class="span12"><br><br><br><br>
<p id="notice"><%= notice %></p>
<center><%= image_tag @product.pic.url %></center>
<h1>
  
  <%= @product.name %>
</h1>

<center><h5>
  <%= @product.description %>
</h5></center>


       <div class="span5"><br><br>
   <center>

<h2>Price/Kilo ::
<%= @product.price %> Euros</h2>

<h4>Ammount Available ::
<%= @product.ammount %> Kilos</strong></h4>
<span class="timestamp">
<% distance = Geocoder::Calculations.distance_between([@product.latitude, @product.longitude], [current_user.latitude,current_user.longitude],{:units => :km, :precision => 2 }) %>
<%= number_with_precision(distance, :precision => 0) %> Kilometers away from you</span><br>

<%= link_to "Contact Seller", @product.farm, class: "btn btn-small btn-primary"  %>
 <%= link_to "Request Swap", @product.farm, class: "btn btn-small btn-primary"  %>
 <%= link_to "View Farm", @product.farm, class: "btn btn-small btn-primary"  %>
 
 
  <%= link_to "delete", @product, class: "btn btn-small btn-secondary", method: :delete, confirm: "You sure?" %>


</div>
<div class="span5"><br><br>
   <center>
<br><br>
<center>
<td><center><strong>Produced By</strong></center></td>
<td></td>
<td><%= @product.farm.name %></td><br><br>


<td><center><strong>Located in</strong></center></td>

<td><%= @product.farm.region %></td><br><br>


<td><center><strong>Willing to Swap?</strong></center></td>
<td><%= @product.farm.swap ? 'Yes' : 'No' %></td>
</div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
