
<%= form_for(@swap) do |f| %>
  <% if @swap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@swap.errors.count, "error") %> prohibited this swap from being saved:</h2>

      <ul>
      <% @swap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="container">

<div class="row">

       <div class="span9">
           <div class="row">
         <div class="span4 pull-left"><br><br><br><br><br><br><br><br><br><br><br><br>
     <%= f.label 'Attach a picture for your plant' %>
<%= f.file_field :image %>
  <div class="actions"><br><br><br><br>
   <center> <%= f.submit  class: "btn btn-large btn-primary" %></center>
  </div>
          <br><br>
</div>

          <div class="span5">

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :plant_type %><br />
    <%= f.select :plant_type, options_for_select(%w[Cutting Seed Plantita]) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "30x10"  %>
  </div>

          </center></div>
           </div><!-- end nested row -->
    </div><!-- end span9 -->

        <div class="span3"><br><br>
  





          </div>

    </div><!-- end parent row-->

 </div><!-- end container -->  <br><hr><% end %>