<% provide(:title, 'Plants to Swap') %>
<br> <h1>Exchange Seeds & Cuttings</h1><br>

   <p>For swaping or giveing away Seeds and Plants only. To sell produce please <%= link_to "Visit Your Farm", @farm %>, <%= link_to "Or Create One", new_farm_path %></p><hr> <div class='search'>Search All...
<%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query, params[:query], :class => "search-query" %><br><br>
   <center> <%= submit_tag "Search", name: nil, :class => "btn btn-large btn-primary", :style => 'inline' %>
<% end %><br><br>
</div>
<%= link_to "Share my Own Plant", new_swap_path, class: "btn btn-small btn-secondary"  %><hr>
<ul class="users">
<%= render @swaps = Swap.find(:all) %>
</ul>