
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">

    <div class="container">
   
          
      <nav>
<br><br><br>
        <ul class="nav pull-right">
           <% if signed_in? %>
          
          <% end %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Fresh Products", products_path %></li>
          <li><%= link_to "Seeds and Cuttings to Swap", swaps_path %></li>
          <% if signed_in? %>
        
            <li><%= link_to "Visit Farms", farms_path %></li>
            <% if current_user.has_unread_messages? %>
            <li><%= link_to "Inbox (Unread Message)", mailboxes_path %></li>
          <% else %>

          <li><%= link_to "Inbox", mailboxes_path  %></li>
          <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                My Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Profile", current_user %></li>
                
                <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
          
        </ul>
      </nav>
    </div>

  </div>
</header><br>